@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --primary: #d7b2ef;
  --secondary: #2e2e2e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Quicksand", sans-serif;
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}


/* upload form styles */

/* progress bar styles */

/* image grid styles */

/* modal styles */
