.image-grid {
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
}
.image-wrap {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}
.image-wrap img {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 680px) {
  .image-grid {
    columns: 2;
  }
}

@media (max-width: 400px) {
  .image-grid {
    columns: 1;
  }
}
