.image-grid {
  margin: 0px auto;
  columns: 4;
  column-gap: 20px;
}
.image-wrap {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}
.image-wrap img {
  width: 100%;
  border-radius: 15px;
  border: 2px solid var(--secondary);
  box-shadow: 5px 5px 10px var(--primary);
  cursor: pointer;
}

@media (max-width: 680px) {
  .image-grid {
    columns: 2;
  }
}

@media (max-width: 400px) {
  .image-grid {
    columns: 1;
  }
}
